:root {
  --color-heading: #0b0d19;
  --color-body: #677386;
  --color-bg-button: #3d7bfa;
  --color-text-button: #fff;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

/* Begynd her... */

section {
  display: grid;
  grid-template-columns: 550px 550px;
  justify-content: center;
  padding: 4%;
  gap: 50px;
}

.text {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 6rem;
  color: var(--color-heading);
  font-weight: bold;
}
p {
  line-height: 1.7;
  padding-top: 20px;
  padding-bottom: 30px;
  color: var(--color-body);
  max-width: 480px;
}

button {
  background-color: var(--color-bg-button);
  color: var(--color-text-button);
  border-radius: 40px;
  padding: 2% 5%;
  width: fit-content;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  place-items: center;
}

img {
  border-radius: 25px;
}

.img1 {
  grid-row: 1;
  grid-column: 2;
}

.img2 {
  grid-row: 2;
  grid-column: 1;
}

.img3 {
  grid-row: 2 / span 2;
  grid-column: 2;
}

.img4 {
  grid-row: 2;
  grid-column: 3;
}

.img5 {
  grid-row: 3;
  grid-column: 1;
}

.img6 {
  grid-row: 3;
  grid-column: 3;
}

.img7 {
  grid-row: 4;
  grid-column: 2;
}
